<ngb-carousel *ngIf="images" class="carousel">
  <ng-template ngbSlide class="carousel-item">
    <div class="picsum-img-wrapper">
      <img [src]="images[0].src" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>Responsive Angular E-Commerce</h3>
      <p>Demo Angular E-Commerce website</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item">
    <div class="picsum-img-wrapper">
      <img [src]="images[1].src" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Responsive Angular E-Commerce</h3>
      <p>Demo Angular E-Commerce website</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item">
    <div class="picsum-img-wrapper">
      <img [src]="images[2].src" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Demo</h3>
      <p> Angular</p>
    </div>
  </ng-template>
</ngb-carousel>
